<div class="main">
  <h2>All Contacts</h2>

  <div class="container get-by-id">
    <button type="button" (click)="findContactById()" clickable>Find by contact ID</button>
  </div>

  <div class="container get-all-filter">
    <button type="button" (click)="searchWithFilter('123')" clickable>Filter contacts</button>
  </div>

  <!-- <app-contacts *ngFor="let contact of contacts" [contact]="contact"/> -->
  <div class="container get-all">

    <mat-card appearance="outlined" style="padding: 6px;">
      @for (contact of contacts; track contact.id) {

      <mat-card appearance="outlined"  style="padding: 6px;">
        <mat-card-header>
          <mat-card-title>{{contact.firstName}} {{contact.lastName}}</mat-card-title>
          <mat-card-subtitle>ID: {{contact.id}}, 
            <br>Phone: {{contact.phoneNumber}}, 
            <br>Email: {{contact.email}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
          <!-- <button mat-button>Learn More</button> -->
        </mat-card-actions>
      </mat-card>
      <br>
      }
    </mat-card>

  </div>

</div>