<div class="main">

  <div class="columns is-mobile is-vcentered is-centered">
    <div class="column"></div>

    <div class="column">

      <h2 class="has-text-centered">Delete Contact</h2>

      <div class="space"></div>

      <mat-form-field class="example-full-width mb-4" appearance="outline">
        <mat-label>Contact ID</mat-label>
        <input matInput placeholder="Enter your contact ID" id="filterValue" type="number" name="filterValue" [formControl]="idValue" required min="1"
        [class.invalid]="!isValidInput()">

        <mat-error
        *ngIf="isValidInput()"
        class="has-text-danger" style="margin-bottom: 20px;">Required valid ID!
        </mat-error>
      </mat-form-field>
    
      <div class="delete-data has-text-centered">
        <button type="button" class="button is-danger is-rounded custom-button" (click)="deleteContact()" clickable>Delete contact</button>
      </div>

    </div>

    <div class="column"></div>
  </div>

</div>