<div class="main">

  <div class="columns is-mobile is-vcentered is-centered">
    <div class="column"></div>

    <div class="column">

      <h2 class="has-text-centered">Add a new Contact</h2>

      <div class="space"></div>

      <form [formGroup]="addForm" (ngSubmit)="createContact()">
        
        <mat-form-field class="example-full-width mb-4" appearance="outline">
          <mat-label>First Name</mat-label>
          <input matInput placeholder="Enter your first name" id="firstName" type="text" name="firstName"
          [class.invalid]="addForm.get('firstName')?.invalid && addForm.get('firstName')?.dirty || addForm.get('firstName')?.touched" 
          formControlName="firstName" required>

          <mat-error
          *ngIf="addForm.get('firstName')?.hasError('required') && addForm.get('firstName')?.dirty || addForm.get('firstName')?.touched"
          class="has-text-danger" style="margin-bottom: 20px;">Required valid first name with characters between 3 and 50!
          </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width mb-4" appearance="outline">
          <mat-label>Last Name</mat-label>
          <input matInput placeholder="Enter your last name" id="lastName" type="text" name="lastName" 
          [class.invalid]="addForm.get('lastName')?.invalid && addForm.get('lastName')?.dirty || addForm.get('lastName')?.touched" 
          formControlName="lastName" required>

          <mat-error
          *ngIf="addForm.get('lastName')?.hasError('required') && addForm.get('lastName')?.dirty || addForm.get('lastName')?.touched"
          class="has-text-danger" style="margin-bottom: 20px;">Required valid last name with characters between 3 and 50!
          </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width mb-4" appearance="outline">
          <mat-label>Phone Number</mat-label>
          <input matInput placeholder="Enter your phone number" id="phoneNumber" type="text" name="phoneNumber" 
          [class.invalid]="addForm.get('phoneNumber')?.invalid && addForm.get('phoneNumber')?.dirty || addForm.get('phoneNumber')?.touched" 
          formControlName="phoneNumber" required>

          <mat-error
          *ngIf="addForm.get('phoneNumber')?.hasError('required') && addForm.get('phoneNumber')?.dirty || addForm.get('phoneNumber')?.touched"
          class="has-text-danger" style="margin-bottom: 20px;">Required valid phone number!
          </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width mb-4" appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Enter your email" id="email" type="email" name="email" 
          [class.invalid]="addForm.get('email')?.invalid && addForm.get('email')?.dirty || addForm.get('email')?.touched" 
          formControlName="email" required>

          <mat-error
          *ngIf="addForm.get('email')?.hasError('required') && addForm.get('email')?.dirty || addForm.get('email')?.touched"
          class="has-text-danger" style="margin-bottom: 20px;">Required valid email!
          </mat-error>
        </mat-form-field>

        <div class="has-text-centered">
          <button type="submit" class="button is-success is-rounded custom-button" [disabled]="addForm.invalid">Add Contact</button>
        </div>

      </form>

    </div>

    <div class="column"></div>
  </div>

</div>