@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* regular style toast */
@import 'ngx-toastr/toastr';

:root {
    --neutral-color: #727272;
}

.light-theme {
    --primary-color: #9c27b0;
    --accent-color: #00bcd4;
    --background-color: #ffffff;
    --text-color: #000000;
    --input-bg-color: #ffffff;
    --input-text-color: #000000;
}

.dark-theme {
    --primary-color: #7b1fa2;
    --accent-color: #00acc1;
    --background-color: #121212;
    --text-color: #ffffff;
    --input-bg-color: #1e1e1e;
    --input-text-color: #ffffff;
}

.mat-mdc-card {
    background-color: var(--card-bg-color) !important;
    color: var(--card-text-color) !important;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    padding: 16px;
}

.mat-mdc-card-subtitle {
    color: var(--neutral-color) !important;
}
 
/* Material Input Fields */
.mat-form-field {
    /* background-color: var(--input-bg-color); */
    color: var(--input-text-color);
}
  
/* Set Placeholder and Input Text Color */
.mat-input-element, .mat-form-field-label {
    color: var(--input-text-color) !important;
}

.mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-text-field__input {
    color: var(--input-text-color) !important;
}

* {
    box-sizing: border-box;
}

app-root {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: var(--background-color);
    /* color: var(--text-color); */
    font-family: Roboto, Arial, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    color: var(--text-color);
}
a {
    text-decoration: none;
}
h1 {
    font-weight: bold;
}
main {
    margin-top: 0;
    min-height: calc(100vh - 316px);
}
.main {
    padding: 20px;
}
.space {
    height: 40px;
}
.center {
    margin: auto;
    width: 60%;
    padding: 10px;
}
.custom-button {
    margin-top: 20px;
    margin-bottom: 20px;
    min-width: 158px;
}
/* Input Field */
.example-form {
    min-width: 150px;
    /* max-width: 500px; */
    width: 100%;
}
.example-full-width {
    width: 100%;
}

.is-primary-button {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

hr {
    background-color: var(--neutral-color);
}

@media only screen and (max-width: 600px) {
    .custom-button {
        width: 100%;
    }
}